body {
	margin:0;
	padding:0;
    font-family: sans-serif;
    background-color:#000;
    overflow: hidden;
}

.table{
    width: 900px;
	height: 680px;
	background: #fff;
	top:50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% ,-50%);
	box-sizing: border-box;
    padding: 30px 30px;
    overflow: scroll;
}
h1{
    margin: 0;
	padding: 0 0 20px;
	text-align: center;
    font-size: 38px;
    color: #009879;
}
.table > input,
.table section >div{
    display: none;
}
#tab1:checked~section .tab1,
#tab2:checked~section .tab2{
    display: block;
}
*,* : after ,*:before{
    box-sizing:border-box;
}
.table ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.table ul li label{
    float: left;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #eeeeee;
    color: #444;
}
.table ul li label:hover{
    background-color: #ddd;
}
.table ul li label:active{
    background-color: #fff;
}
.table ul li:not(:last-child)label{
    border-right-width: 0;
}
.table section{
    clear: both;
} 
.table section div{
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    
    color: #444;
    
}
#tab1:checked~nav .tab1 label,
#tab2:checked~nav .tab2 label{
    background-color: #fff;
    color: #111;
    position: relative;
}
#tab1:checked~nav .tab1 label:after
#tab2:checked~nav .tab2 label:after{
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: -1px;
}

.content-table{
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 15px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);

}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
input[type="text"] {
    width: 32%;
    margin-bottom: 20px;
}
input[type="text"] {
    background: transparent;
    height: 30px;
    color: rgb(10, 8, 8);
    font-size: 16px;
}
input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
caption{
    color: #009879;
    font-size: 20px;
}


